:root {
    --green: green;
  --blue: #CEDBE8;
  --blue-accent: #90B2D0;
  --button-disabled-color: #b4c6d8;
  --blue-accent-darker: #7aa1c3;
  --white : white;
  --text-color: rgb(44, 44, 44);
  --text-color-faded: rgb(190, 190, 190);
  --correct-answer-color: rgb(34, 223, 34);
  --incorrect-answer-color: red;
  --answer-highlight-color: rgb(240, 248, 255);
}

* {
  box-sizing: border-box;
}

html, body {
    min-height: 50%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(255, 196, 196);
    font-size: x-large;
}

body {
    align-content: center;
    background-color: var(--blue);
    font-family: 'IBM Plex Sans Hebrew', sans-serif;
}

#container {
    display: flex;
    margin: auto;
    max-width: 550px;
    min-height: 100%;
    height: 100%;
    flex-direction: column;

    border-left: solid var(--answer-highlight-color); 
    border-right: solid var(--answer-highlight-color); 
    border-width: 5px;
}

#hor-container {
    display: none;
    margin: auto;
    min-height: 100%;
    height: 100%;
    flex-direction: row;
}


.col {
    background-color: rgb(216, 216, 216);
    flex: 1;
    text-align: right;
    font-size: 150%;
    padding-right: 1%;
}

#score{
    display: flex;
    justify-content: center;
    font-size: 0.6em;
    color: var(--text-color);
}

#progress-bar {
    min-height: 1%;
    width: 0%;
    background-color: var(--answer-highlight-color);
}

#question {
    display: flex;
    flex: 0.5;
    justify-content: center;
    align-items: start;
    /* line-height: 100%; */
    font-size: 1.5em;
    margin-bottom: 0px;
}

#answer-section {
    display: flex;
    flex: 1;
    flex-direction: column;
    /* align-content: center; */
    justify-content: center;
    align-items: center;
}

#answer-holder{
    display: flex;

}

.hide{
    visibility: hidden;
}

.icon{
    position: absolute;
    margin-left: 32px;
    margin-top: -48px;
    width: 32px;
}

.answer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-radius: 40px;
    border: solid transparent;
    border-width: 3px;

    height: 56px;
    width: 320px;
    max-width: 480px;
    margin-right: 16px;
    margin-left: 16px;
    margin-top: 4px; 
    margin-bottom: 4px;
    padding-right:16px;
    font-size: 1em;
    background-color: var(--answer-highlight-color);
    color: var(--text-color);
}

.answer:hover{
    background-color: var(--white);
}

.answer.correct {
    color: var(--correct-answer-color);
    border-color: var(--correct-answer-color);

    background-color: white;
}

.answer.incorrect {
    color: var(--incorrect-answer-color);
    border-color: var(--incorrect-answer-color);
    background-color: white;
}

.answer.faded{
    color: var(--text-color-faded);
    pointer-events: none;
}

.next-button {
    font-size: x-large;
    min-height: 56px;
    width: 320px;
    color: var(--white);
    background-color: var(--blue-accent);
    border-radius: 40px;
    margin-top: 32px; 
    margin-right: 16px; 
    margin-left: 16px;
    margin-bottom: 24px;

    display: flex;
    flex:0.3;
    justify-content: center;
    align-self: center;
    align-items: center;
    border: solid var(--blue-accent);
    transition-duration: 0.2s;
}

.next-button.faded{
    background-color: var(--button-disabled-color);
    border-color: transparent;
    pointer-events: none;
}

.next-button:hover{
    background-color: var(--blue-accent-darker);

}



/* @media only screen and (max-width: 360px) {
  #container{
      width: 100%;
      background-color: red;
  }
 }


 @media only screen and (min-width: 660px) {
  #container{
      margin-left: 35%;
      margin-right: 35%;
  }
 } */