:root {
  --blue: #bddff3;
  --blue-accent: #79b8dd;
  --green: green;
  --white : white;
  --text-color: rgb(44, 44, 44);
  --correct-answer-color: rgb(20, 195, 20);
  --incorrect-answer-color: red;
}

html, body {
    min-height: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(255, 196, 196);
    font-size: x-large;
}

body {
    align-content: center;
    background-color: var(--blue);
}

/* change display from none to flex */
#container {
    display: flex;
    /* display: none; */
    margin: auto;
    min-height: 100%;
    height: 100%;
    flex-direction: column;

    border-left: solid var(--white); 
    border-right: solid var(--white); 
    border-width: 5px;
}

/* change display from flex to none */
#hor-container {
    /* display: flex; */
    display: none;
    margin: auto;
    min-height: 100%;
    height: 100%;
    flex-direction: row;
}

#progress-bar {
    height: 1%;
    width: 0%;
    background-color: var(--white);
}

.col {
    background-color: rgb(216, 216, 216);
    flex: 1;
    text-align: right;
    font-size: 150%;
    padding-right: 1%;
}

#score{
    display: flex;
    flex: 0.1;
    justify-content: right;
    text-align: right;
    align-items: right;
    font-size: x-large;
    margin-bottom: 2%;
    margin-right: 2%;
    color: var(--text-color);
}

#question {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    line-height: 100%;
    margin-right: 5%;
    font-size: 300%;
}

#answer-section {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.hide{
    visibility: hidden;
}

.answer {
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 2%;
    padding-right: 6%;
    font-size: 200%;
    background-color: var(--white);
    color: var(--text-color);
    display: flex;
    justify-content: right;
    align-items: center;
    border-radius: 40px;
    flex: 1;
    border: solid transparent;
}

.answer.correct {
    color: var(--correct-answer-color);
    border: solid var(--correct-answer-color);
    
}

.answer.incorrect {
    color: var(--incorrect-answer-color);
    border: solid var(--incorrect-answer-color);
}

span {
    flex: 1;
}

#next-button {
    font-size: x-large;
    flex: 0.5;
    color: rgb(87, 74, 74);
    /* border-radius: 40px; */
    /* margin-right: 3%;
    margin-left: 3%;
    margin-bottom: 3%; */
    /* background-color: var(--blue-accent); */
    transition-duration: 0.4s;
}
.button {
  transition-duration: 0.4s;
}

.button:hover {
  background-color: #4CAF50; /* Green */
  color: white;
}

body{
    font-family: 'IBM Plex Sans Hebrew', sans-serif;
}

@media only screen and (max-width: 460px) {
  #container{
      width: 100%;
  }
 }


 @media only screen and (min-width: 660px) {
  #container{
      /* width: 100%; */
      width: 30%;
  }
 }