:root {
  --blue: #CEDBE8;
  --blue-accent: #90B2D0;
  --button-disabled-color: #b4c6d8;
  --blue-accent-darker: #7aa1c3;
  --white : white;
  --text-color: rgb(44, 44, 44);
  --text-color-faded: rgb(190, 190, 190);
  --correct-answer-color: rgb(34, 223, 34);
  --incorrect-answer-color: red;
  --answer-highlight-color: rgb(240, 248, 255);
}

html, body {
    min-height: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(255, 196, 196);
    font-size: x-large;
}

body {
    align-content: center;
    background-color: var(--blue);
    font-family: 'IBM Plex Sans Hebrew', sans-serif;
}

/* change display from none to flex */
#container {
    display: flex;
    /* display: none; */
    margin: auto;
    min-height: 100%;
    height: 100%;
    flex-direction: column;

    border-left: solid var(--answer-highlight-color); 
    border-right: solid var(--answer-highlight-color); 
    border-width: 5px;
}

/* change display from flex to none */
#hor-container {
    /* display: flex; */
    display: none;
    margin: auto;
    min-height: 100%;
    height: 100%;
    flex-direction: row;
}

#progress-bar {
    height: 1%;
    width: 0%;
    background-color: var(--answer-highlight-color);
}

.col {
    background-color: rgb(216, 216, 216);
    flex: 1;
    text-align: right;
    font-size: 150%;
    padding-right: 1%;
}

#score{
    display: flex;
    flex: 0.1;
    justify-content: right;
    text-align: right;
    align-items: right;
    font-size: x-large;
    margin-bottom: 2%;
    margin-right: 2%;
    color: var(--text-color);
}

#question {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    line-height: 100%;
    font-size: 250%;
}

#answer-section {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.hide{
    visibility: hidden;
}

.answer {
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 2%;
    padding-right: 6%;
    font-size: 160%;
    background-color: var(--answer-highlight-color);
    color: var(--text-color);

    display: flex;
    flex: 1;
    justify-content: right;
    align-items: center;
    border-radius: 40px;
    border: solid transparent;
}

.answer:hover{
    background-color: var(--white);
}

.answer.correct {
    color: var(--correct-answer-color);
    border: solid var(--correct-answer-color);
    background-color: white;
}

.answer.incorrect {
    color: var(--incorrect-answer-color);
    border: solid var(--incorrect-answer-color);
    background-color: white;
}

.answer.faded{
    color: var(--text-color-faded);
    pointer-events: none;
}

span {
    flex: 1;
}

.next-button {
    font-size: x-large;
    flex: 0.35;
    color: var(--white);
    background-color: var(--blue-accent);
    border-radius: 40px;
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 3%;

    display: flex;
    justify-content: center;
    align-items: center;
    border: solid var(--blue-accent);
    transition-duration: 0.2s;
}

.next-button.faded{
    background-color: var(--button-disabled-color);
    border-color: transparent;
    pointer-events: none;
}

.next-button:hover{
    background-color: var(--blue-accent-darker);

}



@media only screen and (max-width: 460px) {
  #container{
      width: 100%;
  }
 }


 @media only screen and (min-width: 660px) {
  #container{
      /* width: 100%; */
      width: 30%;
  }
 }