:root{
    --green: rgb(230, 230, 230);
    --blue: rgb(102, 197, 226);
    --green-light: rgb(149, 194, 157);
    --font: rgb(212, 212, 212);
    --accent: rgb(50, 148, 32);

}

body{
    direction: rtl;
    user-select: none;
    font-size: 1rem;
    font-family: sans-serif;
    margin: 0;
    color: rgb(39, 39, 39);
    background-color: white;
}

.header{
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    padding: 1rem;
    background-color: var(--blue);
    color: white;
}

.container{

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
    gap: 1rem;
    padding-bottom: 4rem;
    margin: 1rem;
}

.link{
    direction: rtl;
    background-color: var(--blue);
    display: flex;
    justify-content: flex-start;
    text-decoration: none;
    padding: .5rem;
    color: white;
    border: 2px solid transparent;
    border-radius: .2rem;
    width: 60%;
    max-width: 250px;
}

.link:hover{
    border: 2px solid rgb(166, 194, 171);

}

@media only screen and (min-width: 1000px) {
     body{
         zoom: 200%;
     }
 } 

 .filtering{
     display: flex;
     flex-wrap: wrap;
     gap: 1rem;
     margin: 2rem;
 }

 .filtering-section{
     flex: 1;
     min-width: 150px;
 }

 .filtering-section-title{
     color: var(--accent);
     padding: .8rem 0rem .3rem 0rem;
     font-weight: bold;
 }

 .filtering-option{
     display: flex;
     align-items: center;
     gap: .3rem;
     padding: 2px 0px;
 }

 .checkbox{
     margin: 0;
 }

 .number-picker{
     border: 1px solid grey;
     margin-right: .5rem;
     width: 2rem;
     border-radius: .2rem;
     text-align: center;
 }