:root {
  --main-bg: #ffffff;
  --accent: #7aa1c3;
  --accent-dark: #4c6c88;
  --accent-green: rgb(116, 218, 116);
  --background-green: rgb(116, 218, 116);
  --practice-button-text: white;
  --table-border: black;
  --table-2n: rgb(235, 235, 235);
  --forms-separator: rgb(235, 235, 235);
  --roots-text: white;
  --forms-text: rgb(37, 37, 37);
  --forms-border: white;
  --forms-hover: rgb(155, 255, 155);
}

body{
    display: flex;
    flex-direction: column;
    direction: rtl;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    margin: 0;
    background-color: var(--main-bg);
}

.form-title{
    font-size: 2rem;
    margin-top: 2rem;
}

.table-container{
    margin: 2rem;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--table-border);
    border-radius: .2rem;
    z-index: 1;
    overflow: hidden;
    width: 90%;
    max-width: 500px;
}

.table-row{
    padding: .3rem;
    text-align: center;
}

.table-row:nth-child(2n){
    background-color: var(--table-2n);
}

.roots-section{
    width: 100%;
    max-width: 600px;
}

.all-forms-section{
    padding: 2rem 0rem;
    background-color: var(--background-green);
    width: 100%;
}


#form-description{
    background-color: var(--background-green);
    cursor: default;
    border: 0px;
}

.roots-description{
    margin: 1rem;
    font-size: 1.5rem;
}

.other-roots, .forms{
    display: flex;
    flex-wrap: wrap;
    margin: 1rem;
    gap: .3rem;
}

.forms{
    border-bottom: dashed 1px var(--forms-separator);
    padding: 1rem;
    margin: 0;
}

.other-roots div {
    background-color: var(--accent);
    color: var(--roots-text);
    padding: .3rem .6rem;
    border-radius: .2rem;
    cursor: pointer;
}

.forms div{
    background-color: var(--accent-green);
    color: var(--forms-text);
    padding: .3rem .6rem;
    border: 1px solid var(--forms-border);
    border-radius: .2rem;
    cursor: pointer;
}

.forms div:hover{
    background-color: var(--forms-hover);
}

.other-roots div:hover, .all-forms div:hover{
    background-color: var(--accent-green);
}


.practice-button{
    display: flex;
    justify-content: center;
    align-items: center;

    align-self: center;
    transition-duration: 0.2s;

    font-size: 1.5rem;
    min-height: 96px;
    max-width: 90vw;
    width: 320px;
    height: 96px;
    color: var(--practice-button-text);
    background-color: var(--accent);
    border-radius: 0.2em;
    margin: 24px 16px;
    cursor: pointer;
}

.practice-button:hover{
    background-color: var(--accent-green);
}

 @media only screen and (min-width: 1000px) {
     body{
        zoom: 150%;
     }
     #container{
        min-height: 66.6666vh;
     }
 } 